*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    font-family: 'Open Sans',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 138%;
    color: rgba(17, 39, 52, 0.7);
}
/*______________________________________________________________________________________________*/
.wrapper {
    min-height: 100%;
    display: flex;
    justify-content: center;
    min-width: 320px;
}
.content-wrapper {
    max-width: 1440px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}
/*______________________________________________________________________________________________*/
._container {
    margin: 0 auto;
    max-width: 1140px;
    padding: 0 15px;
    box-sizing: content-box;
    display: flex;
}
/*______________________________________________________________________________________________*/
._ibg {
    position: relative;
}
._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}


/*___________________Header__________________________________________________________*/
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}
.header__container {
    display: flex;
    justify-content: space-between;
    min-height: 98px;
    align-items: center;
}
/*@media (max-width: 479px){*/
/*    .header__container {*/
/*        min-height: 70px;*/
/*    }*/
/*}*/

.header-logo__logo {
    display: flex;
    color: inherit;
    align-items: center;
}
.logo-header__img {
    width: 45px;
    height: 44px;
    margin: 0 9px 0 0;
}
.logo-header__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: rgba(34, 42, 53, 1);
    font-family: 'Crimson Pro', serif;
}
@media (max-width: 650px){
    .logo-header__text {
        display: none;
    }
}
.green {
    color: #375B26;
}

.menu {
    display: flex;
    align-items: center;
    padding: 0 25px;
}
@media (max-width: 675px) {
    .menu {
        padding-right: 5px;
    }
}
@media (max-width: 320px) {
    .menu {
        padding: 0 3px;
    }
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
}

.menu__item {
    position: relative;
}
.menu__item::before {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 25px;
    background: #F1D44B;
    content: '';
    opacity: 0;
    transition: 200ms ease-in-out;
}
.menu__item:hover:before {
    opacity: 1;
}

.menu__item:not(:last-child) {
    margin: 0 41px 0 0;
}

@media (max-width: 1045px){
    .menu__item:not(:last-child) {
        margin: 0 20px 0 0;
    }
}
.menu__link{
    color: rgba(34, 42, 53, 1);
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    font-family: 'Crimson Pro', serif;
}
.menu__link:hover {
    color: #375B26;
}
@media (max-width: 479px){
    .menu__link {
        font-size: 20px;
    }
}
.header__toolbar {
    display: flex;
}

@media (max-width: 500px) {
    .header__toolbar {
        flex-wrap: wrap;
    }
}
.toolbar__search {
    height: 31px;
    cursor: pointer;
    margin-right: 30px;
}

.search-toolbar__icon {
    color: rgba(17, 39, 52, 1);
    width: 26px;
    height: 26px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.toolbar__sign-in {
    font-family: 'Open Sans', serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 221%;
    color: #112734;
    width: 68px;
    height: 31px;
    border: 1px solid rgba(17, 39, 52, 1);
    text-align: center;
    border-radius: 5px;
    margin-right: 30px;
}

@media (max-width: 500px) {
    .toolbar__sign-in {
        margin-bottom: 6px;
    }
}
.toolbar__sign-in:hover {
    background-color: #D3B10F;
    color: #FFFFFF;
    border: none;
}

.toolbar__trial {
    width: 145px;
    height: 31px;
    font-weight: 700;
    font-size: 14px;
    line-height: 221%;
}
/*@media (max-width: 912px) {*/
/*    .toolbar__trial {*/
/*        width: 135px;*/
/*        height: 31px;*/
/*        font-weight: 500;*/
/*        font-size: 12px;*/
/*        line-height: 258%;*/
/*    }*/
/*}*/
.trial-btn {
    font-family: 'Open Sans', serif;
    color: #FFFFFF;
    border-radius: 5px;
    background-color: #D3B10F;
    text-align: center;
}

/*_________MAIN_____________________________________________________________________________________________*/
.main-block__image{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.page {
    background: linear-gradient(180deg, #FAFAFA 0%, #E4E4E4 100%);
}
.main-block {
    position: relative;
    margin: 0 0 57px 0;
}
.main-block__column {

}
.column-left {
}
.main-block__container{
    justify-content: center;
}
.main-block__body {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    padding: 174px 0 270px 0;
    width: 100%;
    align-items: start;
}
.column-left >*:not(:first-child){
    margin: 0 0 24px 0;
}
.main-block__body >*:not(:first-child){
    margin: 0 0 24px 0;
}

.column-left__title {
    font-family: 'Crimson Pro', serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 129%;
    color: #112734;
}
@media (max-width: 768px) {
    .column-left__title {
        font-size: 52px;
    }
}
.column-left___subtitle {
    font-family: 'Crimson Pro', serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: rgba(17, 39, 52, 0.7);
}
@media (max-width: 768px) {
    .column-left___subtitle {
        font-size: 24px;
    }
}
.column-left__description::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    left: 0;
    top: 0;
    background: #F1D44B;

}
.column-left__description {
    position: relative;
    font-family: 'Open Sans',serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 138%;
    color: rgba(17, 39, 52, 0.7);
    padding-left: 12px;
}
@media (max-width: 768px) {
    .column-left__description {
        font-size: 14px;
    }
}

.column-left__trial {
    font-size: 24px;
    line-height: 283%;
    width: 360px;
    height: 68px;
    text-align: center;
    font-weight: 700;
}

.column-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    margin-top: 23px;
}
.classes__more-than {
    font-family: 'Crimson Pro', serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 130%;
    color: rgba(55, 91, 38, 0.41);
    padding-right: 5px;
}
@media (max-width: 768px) {
    .classes__more-than {
        font-size: 36px;
    }
}
.classes__number {
    font-family: 'Crimson Pro', serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
}
@media (max-width: 768px) {
    .classes__number {
        font-size: 48px;
    }
}
.classes__circle {
    border-radius: 50%;
    width: 164px;
    height: 164px;
    background: rgba(241, 212, 75, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px) {
    .classes__circle {
        width: 108px;
        height: 108px;
    }
}
.classes__classes {
    font-family: 'Crimson Pro', serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 129%;
    text-align: center;
    color: rgba(255, 255, 255, 0.71);
    margin-top: -12px;
}
@media (max-width: 768px) {
    .classes__classes {
        font-size: 18px;
    }
}
/*__________________BENEFITS__________________________________________________________________*/

.page__benefits {

}

.benefits {
}

.benefits__container {
    flex-direction: column;
    margin-bottom: 77px;
}


.benefits__header {
    margin: 0 0 65px 0;
}

.header-block {
    text-align: center;
}

.header-block__title {
    font-family: 'Crimson Pro',serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 130%;
    text-align: center;
    color: #112734;
}


.benefits__body {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    margin: 0 -15px;
}

.benefits__column {
    min-width: 360px;
    flex: 0 1 33.333%;
    padding: 0 15px;
}
@media (max-width: 1170px) {
    .benefits__column {
        flex: 0 1 50%;
        margin-bottom: 30px;
    }
}
@media (max-width: 780px) {
    .benefits__column {
        flex: 0 0 100%;
        margin-bottom: 30px;
    }
}
/*.benefits__column:not(:last-child){*/
/*    margin: 0 30px 0 0;*/
/*}*/

.column__item {
    background-color: #FFFFFF;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-benefit__image {
    max-width: 360px;
    width: 100%;
    height: 328px;
}
.item-benefit__image img {
    width: 100%;
    height: 100%;
}

.item-benefit__title {
    font-family: 'Crimson Pro',serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    color: #B6990F;
    margin: 0 0 15px 0;
}

.item-benefit__description {
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 138%;
    text-align: center;
    color: rgba(17, 39, 52, 0.7);
    padding: 0 16px 37px;
}
/*________________________AT HOME___________________________________________________________*/
.page__at-home {
}

.at-home {
}

.at-home__container {
    flex-direction: column;
    margin-bottom: 66px;
}


.at-home__header {
    margin: 0 0 99px 0;
}

.header-block {

}

.header-block__title {
}

.green {
}

.at-home__body {
    display: flex;
    /*flex-wrap: wrap;*/
    flex: 0 1 50%;
    align-items: end;
    position: relative;
    width: 100%;
}
.at-home_body__circle{
    position: absolute;
    width: 184px;
    height: 174px;
    left: -63px;
    top: -31px;
    background: rgba(241, 212, 75, 0.3);
    border-radius: 50%;
}

.at-home__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1170px) {
    .at-home__column {
        margin-bottom: 30px;
        flex: 0 1 50%;
    }
}
.at-home__column:not(:last-child){
    margin-right: 128px;
}


.at-home__item {
    height: 100%;
    width: 100%;
    position: relative;
}

.item-at-home__description {
    margin-bottom: 16px;
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 138%;
    letter-spacing: 0.08em;
    color: rgba(17, 39, 52, 0.7);
}

.icon-left__sub-column_container {
}

.sub-column__container {
    padding: 11px 18px 11px 11px;
    background-color: #FFFFFF;
    border-radius: 0 0 15px 15px;
}
.image-left__sub-column_body {
    display: flex;
}

.sub-column__body {
    display: flex;
    justify-content: space-between;
}
.image-right__content2 {
    display: flex;
    justify-content: start;
    align-items: center;
}
.image-right__content{
    display: flex;
    justify-content: center;
}
.image-right__icon_container{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(241, 212, 75, 1);
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 9px 0 0;
}
.image-right__image {
}

.image-right__icon {
    width: 24px;
    height: 24px;
}

.image-right__text {
    font-family: 'Crimson Pro', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 76%;
    color: #112734;
    width: 179px;
    height: 50px;
    cursor: pointer;
}

.image-right__sub-text {
    align-items: center;
    display: flex;
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 138%;
    color: rgba(17, 39, 52, 0.7);
    width: 224px;
    height: 75px;
    margin: -14px 0 0 0;
    cursor: pointer;
}

.image-right__level {
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 138%;
    color: rgba(17, 39, 52, 0.7);
}

.sub-column__footer {
}

.sub-column-footer__column{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.image-right__icon2 {
    margin-right: 12px;
}
.icon2_text {
    font-family: 'Open Sans',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 138%;
    color: rgba(17, 39, 52, 0.7);
    cursor: pointer;
}
.time-icon_text {
    font-family: 'Open Sans',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 138%;
    color: rgba(17, 39, 52, 0.7);
}

.image-right__time_container {
    display: flex;
    align-items: center;
    font-family: 'Open Sans',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 138%;
    color: rgba(17, 39, 52, 0.7);
}
.image-right__time_container .iconify {
    width: 38px;
    height: 38px;
    color: #F1D44B;
    margin-right: 16px;
}
.image-right__play-btn {
    cursor: pointer;
}
.play-btn{
    position: absolute;
    width: 110px;
    height: auto;
    top: 26%;
    left: 40%;
}
.image-right__arrow-right {
    position: absolute;
    top: 39%;
    right: 0;
    width: 28px;
    height: 28px;
    border-radius: 15%;
    background-color: rgba(241, 212, 75, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    cursor: pointer;
}
.arrow-right {
    color: #FFFFFF;
    width: 100%;
    height: 1.5rem;
    cursor: pointer;
}

/*____CHALLENGE_______________________________________________________________*/
.page__challenge {

}
.challenge {

}
.challenge__container{
    flex-direction: column;
    margin-bottom: 103px;
}
.challenge__body {
    display: flex;
    width: 100%;
}
.challenge-body__description{
    position: relative;
    padding-left: 28px;
    margin-bottom: 75px;
}
.challenge-body__title{
    font-family: 'Crimson Pro', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 127%;
    color: #112734;
    margin-bottom: 27px;
}
.challenge-body__subtitle{
}
.challenge-body__description::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 99px;
    left: 0;
    top: 18px;
    background: #F1D44B;
}
/*_________________________________challenge_______SLIDER___________________________________________________*/

/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.challenge__slider .slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.challenge__slider.slick-track{
    display: flex;
}
/* Слайд */
.challenge__slider .slick-slide{
    margin-right: 31px;
}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}
.challenge__slider_container {
    min-width: 0;
    max-width: 1140px;
}
.challenge__slider {
    position: relative;
    width: 100%;
    min-width: 0;
    display: flex !important;
    flex-direction: row;
}
.challenge__slider .slick-arrow {
    position: absolute;
    bottom: 0;
    z-index: 10;
    font-size: 0;
    width: 66px;
    height: 66px;
    cursor: pointer;
}
.challenge__slider .slick-arrow.slick-prev{
    left: 0;
    background: url("../img/challenge/arrow-left.png") 0 0 / 100% no-repeat;
}
.challenge__slider .slick-arrow.slick-next{
    right: 88.5%;
    background: url("../img/challenge/arrow-right.png") 0 0 / 100% no-repeat;
}

/*________COURSES______________________________________________________________________________________*/


.courses__container {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 120px;
}

.courses__header {
    margin-bottom: 60px;
}

.courses__body {
    display: flex;
    width: 100%;
}


.courses__slider_container {
    min-width: 0;
    max-width: 1140px;
}

.courses__slider {
    position: relative;
    width: 100%;
    min-width: 0;
}
.courses-item__slider-background{
    top: 0;
    position: absolute;
    z-index: -1;
}

.courses-item__slider-background::after{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
}
.courses-item__slider-background_green::after {
    background-color: rgba(55, 91, 38, 0.6);
}
.courses-item__slider-background_yellow::after {
    background-color: rgba(182, 153, 15, 0.6);
}
.courses-item__slider-background_black::after {
    background-color: rgba(17, 39, 52, 0.6);
}

.courses__slider.slick-list {
    overflow: hidden;
}
.courses__slider.slick-track{
    display: flex;
}

.courses__slider .slider__item {
    width: 360px;
    height: 410px;
    position: relative;
}
.courses__slider .slider__item:not(:last-child){
    margin-right: 30px;
}
.courses__slider .slick-arrow {
    position: absolute;
    bottom: 46%;
    width: 46px;
    height: 46px;
    background-color: rgba(241, 212, 75, 0.5) !important;
    font-size: 0;
    border-radius: 5px;
    z-index: 1;
    cursor: pointer;
}
.courses__slider .slick-arrow.slick-prev{
    left: 0;
    background: url('https://api.iconify.design/ant-design/arrow-left-outlined.svg?color=%23ffffff') no-repeat center center / contain;
    margin-left: 12px;
}
.courses__slider .slick-arrow.slick-next{
    right: 0;
    background: url('https://api.iconify.design/ant-design/arrow-right-outlined.svg?color=%23ffffff') no-repeat center center / contain;
    margin-right: 12px;
}
.courses-item__title {
    position: relative;
    font-family: 'Crimson Pro', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 138%;
    color: #FFFFFF;
}
.courses-item__title::after{
    position: absolute;
    content: "";
    width: 2px;
    height: 23px;
    top: 1px;
    right:-6px;
    bottom: 0;
    background: #FFFFFF;
    z-index: 10;
}
.courses-item__price{
    display: inline-block;
    margin-left: 12px;
}
.courses-item__header {
    font-family: 'Crimson Pro', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 138%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px 13px 0 13px;
}
.courses-item__body {
    font-family: 'Crimson Pro', serif;
    font-style: normal;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 48px;
    line-height: 114.16%;
    text-align: center;
}
.courses-item__body:hover{
    text-decoration: underline;
    cursor: pointer;
}
.courses-item__footer {
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 138%;
    color: #FFFFFF;
    align-items: center;
    padding: 20px 13px 8px 13px;
}
.sub-column__footer{
    width: 100%;
}

.courses__slider .slider__item {
    position: relative;
    display: flex !important;
    justify-content: space-between;
    flex-direction: column;
}
.column-left__content {
    display: flex;
    justify-content: start;
    align-items: center;
}
.column-left__icon {
    margin-right: 7px;
    border-radius: 50%;
}
.icon_text {
    cursor: pointer;
}


.column-right__content {
    display: flex;
    align-items: center;
}
.column-right__content .iconify {
    width: 38px;
    height: 38px;
    border: none;
    margin-right: 8px;
}
.column-right__content > span {
    margin-right: 6px;
}
.slider-background_img {
    border-radius: 5px;
    width: 100%;
}
/*_________practice-with-confidence________________________________________________________________________________*/

.page__practice-w-confidence {
}

.practice-w-confidence {
}
.practice-w-confidence__slider .slick-list {
    overflow: hidden;
}

.practice-w-confidence__slider.slick-track{
    display: flex;
}

.practice-w-confidence__slider .slick-slide{
    margin-right: 27px;
}
.practice-w-confidence__container {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 127px;
}

.header-block__title {
    margin-bottom: 22px;
}


.header-block__subtitle {
    margin-bottom: 60px;
}

.practice-w-confidence__body {
    display: flex;
    width: 100%;
}

.practice-w-confidence__slider_container {
    min-width: 0;
    max-width: 1140px;
}

.practice-w-confidence__slider {
    position: relative;
    width: 100%;
    min-width: 0;
    padding: 0 55px 0 53px;
}

.practice-w-confidence_slider__item {

}
.practice-w-confidence_slider__item > img {
    border-radius: 53%;
}
.practice-w-confidence.slick-list {
    overflow: hidden;
}
.practice-w-confidence__slider.slick-track{
    display: flex;
}

.practice-w-confidence__slider .slider__item {
    width: 237px;
    height: 237px;
}
.practice-w-confidence .slider__item {
    width: 360px;
    height: 410px;
    position: relative;
}
.practice-w-confidence .slider__item:not(:last-child){
    margin-right: 27px;
}
.practice-w-confidence .slick-arrow {
    position: absolute;
    bottom: 46%;
    width: 45px;
    height: 45px;
    background-color: rgba(241, 212, 75, 0.5) !important;
    font-size: 0;
    border-radius: 5px;
    z-index: 1;
    cursor: pointer;
}
.practice-w-confidence .slick-arrow.slick-prev{
    left: 0;
    background: url('https://api.iconify.design/ant-design/arrow-left-outlined.svg?color=%23ffffff') no-repeat center center / contain;
}
.practice-w-confidence .slick-arrow.slick-next{
    right: 0;
    background: url('https://api.iconify.design/ant-design/arrow-right-outlined.svg?color=%23ffffff') no-repeat center center / contain;
}
/*__________________________Empowerment___________________________________________________________*/
.page__empowerment {
}

.empowerment {
}
.empowerment__container._container{
    max-width: 1440px;
}
.empowerment__container {
    width: 100%;
    margin-bottom: 60px;
}


.empowerment__body {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: start;
}

.empowerment__column.column-left {
    height: 463px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.empowerment__column .column-left__title {
    margin-bottom: 59px;
}


.column-left___description{
    position: relative;
    padding-left: 36px;
}
.empowerment__column .column-left___description::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    left: 0;
    top: 0;
    background: #F1D44B;
}
.empowerment__column.column-right{
    position: relative;
}
.empowerment__column.column-right >img{
    border-radius: 15px;
}
.empowerment__column .classes__circle{
    position: absolute;
    top: -28px;
    left: -54px;
    background-color: rgba(241, 212, 75, 0.5)
}
/*___________FOOTER____________________________________________________________*/
.footer{

}
.footer__top {
    background-color: rgba(17, 39, 52, 1);
    padding-top: 42px;
    padding-bottom: 85px;
}

.footer__main {
}
.footer__row {
    width: 100%;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}
.footer__column {
    flex: 0 1 16.666%;
}
.footer__column:not(:last-child) {
    margin-bottom: 35px;
}
@media (max-width: 992px) {
    .footer__column{
        flex: 0 1 25%;
    }
    .footer__column:last-child{
        flex: 1 1 100%;
    }
    
}
@media (max-width: 700px) {
    .footer__column {
        flex: 0 1 33.333%;
    }
    .footer__column:last-child{
        flex: 0 1 50%;
    }
}
@media (max-width: 450px) {
    .footer__column{
        flex: 0 1 50%;
    }
}
.footer_label {
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 135%;
    color: rgba(241, 212, 75, 1);
    margin-bottom: 28px;
}

.footer__menu {
}

.menu-footer {
}

.menu-footer__list {
}

.menu-footer__item {
    height: 100%;
}
.menu-footer__item:not(:last-child){
    margin-bottom: 28px;
}

.menu-footer_link {
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 300%;
    color: rgba(255, 255, 255, 0.7);
}
.menu-footer_link:hover{
    text-decoration: underline;
}
.footer-social {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: start;
    align-items: start;

}
.footer-bottom__container {
    width: 100%;
    margin-top: -45px;
    display: flex;
    flex-direction: column;
    align-items: end;
}
@media (max-width: 700px) {
    .footer-bottom__container {
        margin-top: 0;
    }

}

.social_item__link:not(:last-child){
    margin-right: 44px;
}


.social__item .iconify {
    width: 33px;
    height: 33px;
}

.social_item__link {
    color: rgba(241, 212, 75, 1);
    width: 33px;
    height: 33px;
}
.menu-footer__list .info{
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 300%;
    color: rgba(255, 255, 255, 0.7);
}