*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,body {

    font-family: 'Open Sans',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 138%;
    color: rgba(17, 39, 52, 0.7);
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._container {
    margin: 0 auto;
    max-width: 1150px;
    padding: 0;
    box-sizing: content-box;
    display: flex;
    align-items: center;
}
._ibg {
    position: relative;
}
._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}


/*___________________Header__________________________________________________________*/
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}
.header__container {
    padding: 24px 0 0 0;
    align-items: center;
    max-height: 159px;
    width: 100%;
}
.header__logo {
    display: flex;
    align-items: center;
    color: inherit;
}
.header__logo_img {
    margin: 0 9px 0 0 ;
}
.header__logo-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: rgba(34, 42, 53, 1);
    font-family: 'Crimson Pro', serif;
    display: inline-block;

}
.green {
    color: #375B26;
}
.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__menu {
    margin: 0 78px 0 93px
}
.menu__list {
    flex-wrap: wrap;
    display: flex;
}

.menu__item {
    position: relative;
}
.menu__item::before {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 25px;
    background: #F1D44B;
    content: '';
    opacity: 0;
    transition: 200ms ease-in-out;
}
.menu__item:hover:before {
    opacity: 1;
}

.menu__item:not(:last-child) {
    margin: 0 37px 0 0;
}
a.menu__link_green {
    color: #375B26;
}
.menu__link{
    color: rgba(34, 42, 53, 1);
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    font-family: 'Crimson Pro', serif;
}
a:active {
    color: #375B26;
}

.toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.toolbar__tools {
    display: flex;
}
.toolbar__tools > *:not(:last-child){
    margin: 0 30px 0 0;
}
.tools__icon-search-container {
    display: flex;
    align-items: center;
    height: 31px;
    cursor: pointer;
}
.tools__icon-search {
    color: rgba(17, 39, 52, 1);
    width: 26px;
    height: 26px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.tools__sign-in {
    font-family: 'Open Sans', serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 221%;
    color: #112734;
    width: 68px;
    height: 31px;
    border: 1px solid rgba(17, 39, 52, 1);
    text-align: center;
    border-radius: 5px;
}
.tools__sign-in:hover {
    background-color: #D3B10F;
    color: #FFFFFF;
    border: none;
}

.tools__trial {
    width: 165px;
    height: 31px;
    font-weight: 700;
    font-size: 14px;
    line-height: 221%;
}
.trial-btn {
    font-family: 'Open Sans', serif;
    color: #FFFFFF;
    border-radius: 5px;
    background-color: #D3B10F;
    text-align: center;
}

/*_________MAIN_____________________________________________________________________________________________*/
.main-block__image{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.page {
    background: linear-gradient(180deg, #FAFAFA 0%, #E4E4E4 100%);
}
.main-block {
    position: relative;
    margin: 0 0 57px 0;
}
.main-block__column {

}
.column-left {
}
.main-block__container{
    justify-content: center;
}
.main-block__body {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    padding: 174px 0 270px 0;
    width: 100%;
    align-items: start;
}
.column-left >*:not(:first-child){
    margin: 0 0 24px 0;
}
.main-block__body >*:not(:first-child){
    margin: 0 0 24px 0;
}

.column-left__title {
    font-family: 'Crimson Pro', serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 129%;
    color: #112734;
}

.column-left___subtitle {
    font-family: 'Crimson Pro', serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: rgba(17, 39, 52, 0.7);
}
.column-left__description::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    left: 0;
    top: 0;
    background: #F1D44B;

}
.column-left__description {
    position: relative;
    font-family: 'Open Sans',serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 138%;
    color: rgba(17, 39, 52, 0.7);
    padding-left: 12px;
}

.column-left__trial {
    font-size: 24px;
    line-height: 283%;
    width: 360px;
    height: 68px;
    text-align: center;
    font-weight: 700;
}

.column-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    margin-top: 23px;
}
.classes__more-than {

    font-family: 'Crimson Pro', serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 130%;
    color: rgba(55, 91, 38, 0.41);
    padding-right: 5px;

}

.classes__number {
    font-family: 'Crimson Pro', serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
}
.classes__circle {

    border-radius: 50%;
    width: 164px;
    height: 164px;
    background: rgba(241, 212, 75, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.classes__classes {
    font-family: 'Crimson Pro', serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 129%;
    text-align: center;
    color: rgba(255, 255, 255, 0.71);
    margin-top: -12px;
}
/*__________________BENEFITS__________________________________________________________________*/

.page__benefits {

}

.benefits {
}

.benefits__container {
    flex-direction: column;
    margin-bottom: 77px;
}


.benefits__header {
    margin: 0 0 65px 0;
}

.header-block {
    text-align: center;
}

.header-block__title {
    font-family: 'Crimson Pro',serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 130%;
    text-align: center;
    color: #112734;
}


.benefits__body {
    display: flex;
}

.benefits__column {
    flex: 0 1 33.333%;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}
.benefits__column:not(:last-child){
    margin: 0 30px 0 0;
}

.column__item {
}

.item-benefit__image {
    width: 327px;
    height: 289px;
    padding: 13px 11px 0;
    margin: 0 0 10px 0;
}

.item-benefit__title {
    font-family: 'Crimson Pro',serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    color: #B6990F;
    margin: 0 0 15px 0;
}

.item-benefit__description {
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 138%;
    text-align: center;
    color: rgba(17, 39, 52, 0.7);
    padding: 0 16px 37px;
}
/*________________________AT HOME___________________________________________________________*/
.page__at-home {
}

.at-home {
}

.at-home__container {
    flex-direction: column;
    margin-bottom: 66px;
}


.at-home__header {
    margin: 0 0 99px 0;
}

.header-block {

}

.header-block__title {
}

.green {
}

.at-home__body {
    display: flex;
    align-items: end;
    height: 574px;
    position: relative;
    width: 1140px;
}
.at-home_body__circle{
    position: absolute;
    width: 184px;
    height: 174px;
    left: -63px;
    top: -31px;
    background: rgba(241, 212, 75, 0.3);
    border-radius: 50%;
}

.at-home__column {
    width: 559px;
    flex: 0 1 50%;
    justify-content: center;
    align-items: center;
}

.at-home__item {
    position: relative;
}

.item-at-home__image {
}

.image-left {
    margin: 0 128px 0 0;
}

.image-right__image_img {
    width: 100%;
}

.image-right__description {
    margin-bottom: 16px;
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 138%;
    letter-spacing: 0.08em;
    color: rgba(17, 39, 52, 0.7);
}

.icon-left__sub-column_container {
}

.sub-column__container {
    padding: 11px 18px 11px 11px;
    background-color: #FFFFFF;
    border-radius: 0 0 15px 15px;
}
.image-left__sub-column_body {
    display: flex;
}

.sub-column_body {
    display: flex;
    justify-content: space-between;
}
.image-right__content2 {
    display: flex;
    justify-content: start;
    align-items: center;
}
.image-right__content{
    display: flex;
    justify-content: center;
}
.image-right__icon_container{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(241, 212, 75, 1);
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 9px 0 0;
}

.image-right__icon {
    width: 24px;
    height: 24px;
}

.image-right__text {
    font-family: 'Crimson Pro', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 76%;
    color: #112734;
    width: 179px;
    height: 50px;
}

.image-right__sub-text {
    align-items: center;
    display: flex;
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 138%;
    color: rgba(17, 39, 52, 0.7);
    width: 224px;
    height: 75px;
    margin: -14px 0 0 0;
}

.image-right__level {
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 138%;
    color: rgba(17, 39, 52, 0.7);
}

.sub-column__footer {
}

.sub-column-footer__column{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-right__icon2 {
    margin-right: 12px;
}
.icon2_text {
    font-family: 'Open Sans',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 138%;
    color: rgba(17, 39, 52, 0.7);
}
.time-icon_text {
    font-family: 'Open Sans',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 138%;
    color: rgba(17, 39, 52, 0.7);
}
.time-icon {
    margin-right: 16px;
}

.image-right__time_container {
    display: flex;
    align-items: center;
    font-family: 'Open Sans',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 138%;
    color: rgba(17, 39, 52, 0.7);
}
.image-right__play-btn {
    cursor: pointer;
}
.play-btn{
    position: absolute;
    width: 110px;
    height: auto;
    top: 26%;
    left: 40%;
}
.image-right__arrow-right {
    position: absolute;
    top: 39%;
    right: 0;
    width: 28px;
    height: 28px;
    border-radius: 15%;
    background-color: rgba(241, 212, 75, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    cursor: pointer;
}
.arrow-right {
    color: #FFFFFF;
    width: 100%;
    height: 1.5rem;
}

/*____CHALLENGE_______________________________________________________________*/
.page__challenge {

}
.challenge {

}
.challenge__container{
    flex-direction: column;
}
.challenge__body {
    display: flex;
    width: 100%;
    margin-left: 16px;
}
.challenge-body__description{
    position: relative;
    padding-left: 28px;
    margin-bottom: 75px;
}
.challenge-body__title{
    font-family: 'Crimson Pro', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 127%;
    color: #112734;
    margin-bottom: 15px;
}
.challenge-body__subtitle{
}
.challenge-body__description::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 99px;
    left: 0;
    top: 18px;
    background: #F1D44B;
}
/*SLIDER___________________________________________________*/

/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
    margin: 0 -31px;
}
/* Лента слайдов */
.slick-track{
    display: flex;
}
/* Слайд */
.slick-slide{
    margin: 0 31px;
}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}
.challenge__slider_container {
    min-width: 0;
    max-width: 1140px;
}
.challenge__slider {
    position: relative;
    width: 100%;
    min-width: 0;
}
.challenge__slider .slick-arrow {
    position: absolute;
    bottom: 0;
    z-index: 10;
    font-size: 0;
    width: 66px;
    height: 66px;
}
.challenge__slider .slick-arrow.slick-prev{
    left: 0;
    background: url("/img/challenge/arrow-left.png") 0 0 / 100% no-repeat;
}
.challenge__slider .slick-arrow.slick-next{
    right: 88.5%;
    background: url("/img/challenge/arrow-right.png") 0 0 / 100% no-repeat;
}
.slider__item {

}